
@{
    ViewData["Title"] = "Update";
}

@model Position

<form method="post" asp-action="Update">
    <div class="form-row">
        <input asp-for="PositionId" hidden />
        <div class="col-md-4 mb-3">
            <label>Position Name</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="col-md-4 mb-3">
            <label>Department Id</label>
            <input asp-for="DepartmentId" class="form-control" />
        </div>
        <div asp-validation-summary="ModelOnly"></div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>