@{
    ViewData["Title"] = "Upload";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers

<h1>Upload</h1>

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="File" />
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>